@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root{
    /* Colors */

    /* Primary */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    /* Fonts */
    --font-family-Young: "Young Serif", serif;
    --font-family-Outfit: "Outfit", sans-serif;
    --Font-size-paragraph: 16px;
    --font-wght-400: 400;
    --font-wght-600: 600;
    --font-wght-700: 700;
}

body{
    font-family: var(--font-family-Outfit) !important;
    background-color: var(--Eggshell); 
}

/* Custom Style */
.container{
    background-color: var(--White) !important;
    max-width: 750px !important;
    margin-top: 120px !important;
}

.preparation-section{
    background-color: var(--Rose-White) !important;
}
.preparation-h5,
.preparation-section > ul > li{
    color: var(--Dark-Raspberry) !important;
}

.preparation-h5,
ol{
    font-weight: var(--font-wght-700) !important;
}

.custom-header,
.custom-h2{
    font-family: var(--font-family-Young) !important;
}

.custom-h2,
.custom-th,
li{
    color: var(--Nutmeg) !important;
}

td, p{
    font-weight: var(--font-wght-400) !important;
    color: var(--Wenge-Brown) !important;
}

ol > li > p,
ul > li > p{
    margin-left: 15px !important;
}
